<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" type="text/css" href="/static/css/estiloejercicio1.css">
</head>
<body>
<div class="container">
    <h1>Formulario de Notas</h1>
    <form action="/ejercicio1" method="POST">
        <label for="nota1">Primera nota:</label>
        <input type="number" id="nota1" name="nota1" min="10" max="70" required>
        <br>
        <label for="nota2">Segunda nota:</label>
        <input type="number" id="nota2" name="nota2" min="10" max="70" required>
        <br>
        <label for="nota3">Tercera nota:</label>
        <input type="number" id="nota3" name="nota3" min="10" max="70" required>
        <br>
        <label for="asistencia">Asistencia(%):</label>
        <input type="number" id="asistencia" name="asistencia" min="1" max="100"  required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    {% if notapromedio and aprobado %}
    <div>
        <h3>{{aprobado}}</h3>
    <div>
    {% endif %}

</body>
</html>